name: Test

on: [push]

env:
  REPORT_EXIT_STATUS: 1
  NO_INTERACTION: 1

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - 7.4
          - 7.3-zts

    container:
      # image: php:7.3-zts-alpine3.12
      image: php:${{ matrix.php }}-alpine3.12

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: |
          apk --no-cache upgrade
          apk --no-cache add autoconf gcc libtool make musl-dev

      - name: Build
        run: |
          phpize
          ./configure
          make

      - name: Test
        run: make test

      # - name: PHP version
      #   run: php -v

      # - name: PHP modules
      #   run: php -m

      # - name: Hello world action step
      #   uses: ./.github/actions/ # Uses an action in the root directory
      #   id: hello
      #   with:
      #     who-to-greet: 'Mona the Octocat'

      # # Use the output from the `hello` step
      # - name: Get the output time
      #   run: echo "The time was ${{ steps.hello.outputs.time }}"

      # - name: PHP containers
      #   uses: docker://php:7.3-zts-alpine3.12
      #   with:
      #     # args: -v
      #     entrypoint: /github/workspace/.github/workflows/run.sh
      #   env:
      #     REPORT_EXIT_STATUS: 1
      #     NO_INTERACTION: 1
