name: PHP

on: [push]

env:
  REPORT_EXIT_STATUS: 1
  NO_INTERACTION: 1

jobs:
  test:
    name: PHP
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - 7.2
          - 7.2-zts
          - 7.3
          - 7.3-zts
          - 7.4
          - 7.4-zts
          - rc
          - rc-zts

    container:
      image: php:${{ matrix.php }}-alpine3.12

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: |
          apk --no-cache upgrade
          apk --no-cache add autoconf gcc libtool make musl-dev

      - name: Build
        run: |
          phpize
          ./configure
          make

      - name: Test
        run: make test
