name: Windows

on: [push]

env:
  BIN_SDK_VER: 2.2.0
  # PHP_VER: 7.4
  ARCH: x64
  TS: 0
  VC: vc15
  VCPKG: 0

jobs:
  test:
    name: Windows
    # runs-on: windows-latest
    runs-on: windows-2016

    strategy:
      matrix:
        php:
          - 7.4

    env:
      PHP_VER: ${{ matrix.php }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: .\.github\workflows\install.ps1

      - name: Build
        run: .\.github\workflows\build.ps1

      - name: Test
        run: .\.github\workflows\test.ps1
        env:
          REPORT_EXIT_STATUS: 1
          NO_INTERACTION: 1
