name: Windows

on: [push]

env:
  BIN_SDK_VER: 2.2.0
  VCPKG: 0

jobs:
  test:
    strategy:
      matrix:
        php:
          - '8.0'
          - '7.4'
          - '7.3'
          - '7.2'
        arch:
          - x64
          - x86
        zts:
          - '0'
          - '1'
        os:
          - windows-latest
          - windows-2016
        vc:
          - vs16
          - vc15
        exclude:
          - php: '8.0'
            os: windows-latest
            vc: vc15
          - php: '8.0'
            os: windows-2016
          - php: '7.4'
            os: windows-latest
          - php: '7.4'
            os: windows-2016
            vs: vc16
          - php: '7.3'
            os: windows-latest
          - php: '7.3'
            os: windows-2016
            vs: vc16
          - php: '7.2'
            os: windows-latest
          - php: '7.2'
            os: windows-2016
            vs: vc16

    runs-on: ${{ matrix.os }}

    env:
      PHP_VER: ${{ matrix.php }}
      VC: ${{ matrix.vc }}
      ARCH: ${{ matrix.arch }}
      ZTS: ${{ matrix.zts }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: .\.github\workflows\install.ps1

      - name: Build
        run: .\.github\workflows\build.ps1

      - name: Test
        run: .\.github\workflows\test.ps1
        env:
          REPORT_EXIT_STATUS: 1
          NO_INTERACTION: 1
