name: Windows

on: [push]

env:
  BIN_SDK_VER: 2.2.0
  VC: vc15
  VCPKG: 0

jobs:
  test:
    name: Windows
    # runs-on: windows-latest
    runs-on: windows-2016

    strategy:
      matrix:
        php:
          - '8.0'
          - '7.4'
          - '7.3'
          - '7.2'
        arch:
          - x64
          - x86
        zts:
          - '0'
          - '1'

    env:
      PHP_VER: ${{ matrix.php }}
      ARCH: ${{ matrix.arch }}
      ZTS: ${{ matrix.zts }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install
        run: .\.github\workflows\install.ps1

      - name: Build
        run: .\.github\workflows\build.ps1

      - name: Test
        run: .\.github\workflows\test.ps1
        env:
          REPORT_EXIT_STATUS: 1
          NO_INTERACTION: 1
