name: Windows

on: [push]

env:
  BIN_SDK_VER: 2.2.0

jobs:
  ci:
    strategy:
      matrix:
        php:
          - '8.0'
          - '7.4'
          - '7.3'
          - '7.2'
        zts:
          - 'nts'
          - 'zts'
        library:
          - ''
          - 'vcpkg'
        arch:
          - x64
          - x86
        os:
          - windows-latest
          - windows-2016
        include:
          - os: windows-latest
            vc: vs16
          - os: windows-2016
            vc: vc15
        exclude:
          - php: '8.0'
            os: windows-2016
          - php: '7.4'
            os: windows-latest
          - php: '7.3'
            os: windows-latest
          - php: '7.2'
            os: windows-latest

    runs-on: ${{ matrix.os }}

    env:
      PHP_VER: ${{ matrix.php }}
      VC: ${{ matrix.vc }}
      ARCH: ${{ matrix.arch }}
      ZTS: ${{ matrix.zts }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Checkout submodules
        run: git submodule update --init --recursive
        if: ${{ matrix.library == '' }}
      - name: Install dependency library
        run: .\.github\workflows\vcpkg.ps1
        if: ${{ matrix.library }}

      - name: Install build command
        run: .\.github\workflows\install.ps1

      - name: Build
        run: .\.github\workflows\build.ps1

      - name: Test
        run: .\.github\workflows\test.ps1
        env:
          REPORT_EXIT_STATUS: 1
          NO_INTERACTION: 1

      - name: Artifact DLL
        uses: actions/upload-artifact@v2
        with:
          name: php_test.dll
          path: .\php_test.dll
